@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  @apply text-white;
}

.bg-glass {
  @apply bg-white bg-opacity-10 shadow-2xl backdrop-filter backdrop-blur-sm;
}

.glass {
  @apply !bg-white bg-opacity-10 rounded-lg border border-primary border-opacity-30 backdrop-filter backdrop-blur-sm;
}

.hero-links {
  @apply glass !rounded-full p-3 hover:scale-105 transition-all ease-in-out duration-300;
}

.hero-button {
  @apply bg-primary px-5 py-2 lg:py-3 rounded-full font-semibold xl:text-lg shadow-md shadow-primary-dark hover:bg-opacity-75 hover:shadow-md transition-all ease-in-out duration-300;
}

.project-button {
  @apply bg-primary px-4 py-2 lg:py-1 rounded-full font-semibold text-sm xl:text-base shadow-sm shadow-primary-dark hover:bg-opacity-75 hover:shadow-sm transition-all ease-in-out duration-300;
}

input,
textarea {
  @apply w-full bg-transparent px-4 py-2 outline-none border border-white rounded-lg focus:ring-2 focus:border-primary ring-primary;
}

.vertical-timeline::before {
  @apply !left-6 sm:!left-8;
}

.timeline-element > div {
  @apply glass shadow shadow-primary ml-16 sm:ml-24;
}

.timeline-element > div > div {
  @apply !border-r-primary;
}

.timeline-element-highlight {
  @apply timeline-element;
}

.timeline-element-highlight > div {
  @apply !bg-primary;
}

.vertical-timeline-element-icon {
  @apply !w-12 !h-12 sm:!w-16 sm:!h-16;
}

.vertical-timeline-element-icon > img {
  @apply p-2 w-full h-full object-contain;
}

@media only screen and (min-width: 1170px) {
  .experience-heading {
    @apply mx-auto text-center;
  }

  .vertical-timeline::before {
    @apply !left-[50%];
  }

  .timeline-element > div > span {
    @apply !px-4;
  }

  .vertical-timeline-element-icon {
    @apply !w-20 !h-20 !-ml-10;
  }
}
