@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  @apply text-white;
}

.bg-glass {
  @apply bg-white bg-opacity-10 shadow-2xl backdrop-filter backdrop-blur-sm;
}

.glass {
  @apply bg-white bg-opacity-10 rounded-lg border border-primary border-opacity-30 backdrop-filter backdrop-blur-sm;
}

.hero-links {
  @apply glass !rounded-full p-3 hover:scale-105 transition-all ease-in-out duration-300;
}

.hero-button {
  @apply bg-primary px-5 py-2 lg:py-3 rounded-full font-semibold xl:text-lg shadow-md shadow-primary-dark hover:scale-105 transition-all ease-in-out duration-300;
}